evm_chain_config:
  chain_id: "1"
  rpc_endpoint: "<RPC_URL>"
  vrf_provider_address: "0x1234..."
  vrf_lens_address: "0x1234..."
  bridge_address: "0x1234..."
  private_key: "<PK>"
  gas_strategy: "maxPriorityFeePerGas"
  gas_price: 20000000000
  start_nonce: 0
  block_difference: 10

band_chain_config:
  grpc_endpoint: "rpc.band-v3-testnet.bandchain.org:443"
  mnemonic: "<MNEMONIC>"
  min_count: 2
  ask_count: 3
  prepare_gas: 100000
  execute_gas: 400000
  ds_fee_limit: 48
  gas_limit: 800000
  gas_price: 0.0025 